<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block%}
<div class="jumbotron">
  <div class="container">
    <h1>Welcome To Bhupendra Exams</h1>
    <h1>Rules:</h1>
    <ul>
      <li>Rule-1:You should write only one exam per day</li>
      <li>Rule 2: Do not use any external resources during the exam.</li>
      <li>Rule 3: Complete the exam within the allocated time.</li>
      <li>Rule 4: Do not communicate with others during the exam.</li>
    </ul>
  </div>
</div>
{% endblock %}