<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block %}
<div class="jumbotron">
  <div class="container">
    <h1>Thank You for Using Bhupendra Exams!</h1>
    <p>We appreciate your participation in our platform. Your engagement contributes to creating a vibrant learning community.</p>
    <p>Remember, every moment spent on our app brings you one step closer to your educational and professional goals.</p>
    <p>While we're sad to see you logout, we encourage you to return soon and continue your journey towards success.</p>
    <a class="btn btn-success" href="/accounts/login">Login Again</a>
  </div>
</div>
{% endblock %}
