<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'testapp/base.html' %}
    {% block body_block %}
    <div class="jumbotron">
        <div class="container">
            <h1>Please SignUp To Write Exam..</h1>
            <form method="post">
                {{form.as_p}}
                {% csrf_token %}
                <input type="submit" name="" value="SignUp">
            </form>
        </div>
    </div>
    {% endblock %}
</body>
</html>



